body {
  background-color: #ffffff !important;
}
#weather-card {
  display: block;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding: 50px;
  width: 80vw;
  font-weight: 100;
  border-color: #dee2e6;
}
#row-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  max-width: 500px;
}

#row-middle {
  display: flex;
  justify-content: center;
}

#button-addon2 {
  width: 10px;
  margin-left: 10px;
}

#col-center {
  text-align: center;
  white-space: nowrap;
}

#col-left {
  font-size: 15px;
  padding: 5px;
  white-space: nowrap;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

#element-temperature {
  font-size: 30px;
  font-weight: 600;
}
#city {
  font-size: 22px;
  font-weight: 400;
}
#state {
  margin: 10px 0px 10px;
  text-transform: capitalize;
}
.author {
  font-family: Pt Mono;
  font-size: 15px;
  text-align: center;
}

a {
  color: #0b58ca;
  text-decoration: underline;
}

a:hover {
  color: #0b58ca;
  cursor: pointer;
  text-decoration: underline;
}

#element-celsius:hover {
  color: #0b58ca;
  cursor: pointer;
}

#element-farenheit:hover {
  color: #0b58ca;
  cursor: pointer;
}
